footer
  .footer-container
    .footer-inner
      ul
        li
          a(href="#")
            | 会社情報
        li
          a(href="#")
            | プライバシーポリシー
        li
          a(href="#")
            | 特定商取引法に関する法律に基づく表示
        li
          a(href="#")
            | お問い合わせ
      
      p.copyright
        | © Gourmet Innovation Co.,Ltd. All Right Reserved.
          
