<!DOCTYPE html>
html(lang="ja")
  include ./_head.jade

  body
    header
      .header-container
        .header-inner
          .header-left.is-left
            h1.bland
              img(src="./images/logo.png", alt="宅麺×ラーメン女子博")
          
          .header-right.is-right
            .btn-twitter.is-left
              a(href="#")
                i.icon.icon-twitter
            .btn-facebook.is-right
              a(href="#")
                i.icon.icon-facebook
        //- HeaderInner
    
    #wrap.wrap
