<!DOCTYPE html>
html(lang="ja")
  include ./parts/_head.jade

  body
    h1 Index page
    p. 
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas sequi explicabo eligendi numquam, excepturi sint saepe aut doloremque sunt repellat, culpa! Animi illo, tempora inventore, magnam cupiditate commodi voluptas consequuntur.
    p#test test document
    ul
      li list item1
      li list item2
      li list item3