
include ./parts/_header.jade

section#sec1
  h2.band-block.is-center.has-mb-30
    img(src="./images/title.png", alt="「ラーメン女子博」公式お取り寄せ通販サイト ラーメン・つけ麺のお取り寄せ通販サイト・宅麺.comは、「ラーメン女子博」の公式お取り寄せ通販サイトを今年から実施いたします。")
    
  .is-center.has-mb-30
      img(src="./images/logo_large.png", alt="宅麺×ラーメン女子博2016")
    
  .band-block.has-mb-30
    p.is-center
      img(src="./images/sec1_1.png", alt="「宅麺.com」は、今年から全力で「ラーメン女子博」をサポートし、「ラーメン女子博」で実際に<br>提供されるラーメン・つけ麺と同様の商品を全国の皆様に通販というかたちでお届けして参ります。")
        
    p.is-center
      img(src="./images/sec1_2.png", alt="販売についての詳細が決まり次第、メルマガと本サイトにてご案内をさせていただきます。")  

section
  h2.is-center.has-mb-30
    img(src="./images/campaign.png", alt="もれなく 300円分のクーポン券 がもらえる 会員登録キャンペーンも実施していますので、是非この機会にご登録ください。")
  
  a(href="#").btn.register-page-link
    img(src="./images/register_link_btn.png", alt="今すぐ会員登録(無料)")

section
  .narrow-container
    h2(style="margin-top:76px;")
      img(src="./images/sec2_head.png", alt="ラーメン女子博ってなに？")
  
  .section2-bg
    .narrow-container
      p
        img(src="./images/sec2_1.png", alt="2016年3月17日（木）～21日（月・祝）、横浜赤レンガ倉庫イベント広場にて開催される<br>「ラーメン女子博 ’16 –Ramen girls Festival-」の出店店舗が決定！")
        
      p
        img(src="./images/sec2_2.png", alt="ラーメン大好き女子のため、女性”に特化したラーメンイベント「ラーメン女子博」は、2015年3月に第一回目を開催し、売切れ続出の２日間で29,675人の来場者数を記録。")
      p(style="margin-bottom:32px;")
        img(src="./images/sec2_3.png", alt="大好評を博し、第二回開催が決まりました。")
        
      p
        img(src="./images/sec2_4.png", alt="第二回目の開催となる今回は、出店ラーメン店を総入れ替え！前回とは異なるバリエーション豊かな12店舗が軒を連ねます。また、そのうち１店舖は日替わりで店舗が変わる")
        
      p
        img(src="./images/sec2_5.png", alt="スペシャルブースとなり、合計１５店舗が、”ラーメン女子に捧げるラーメン”をコンセプトにアレンジしたメニューを提供します。")
      
      p
        img(src="./images/sec2_6.png", alt="総入れ替えとなる出店ラーメン店は、本イベントプロデューサーの森本聡子氏が選りすぐった名店がずらり。")  

      img(src="./images/producer.png", alt="プロデューサー森本聡子さん" class="producer-image")
    
  
section
  .is-center.sec-offisial-link
    h2
      img(src="./images/offisial_link_head.png", alt="公式サイトはこちら")

    a(href="#").btn.offisial-page-link
      img(src="./images/offisial_link_btn.png", alt="ラーメン女子博2016")
  
section
  h2
    | 宅麺とは？
  
  p
    | 宅麺.comは、全国津々浦々の行列店のラーメン・つけ麺の中から厳選した商品をお取り寄せできる通販サイトです。

  p
    | ラーメン女子博で出されているスープと麺・具材と同様のものを冷凍し、ご自宅で調理頂くことで、
    | これまで会場でしか味わえなかった味をご自宅や 職場でもお楽しみ頂けます。
    | 自宅にいながらラーメン女子博会場の味をそのまま楽しめます！
  
  
  ul
    li
      img(src="./images/ramen_1.png", alt="")
      p
        | 女子博会場で提供されているのと同じ
        | スープ・具材・麺をそのまま袋詰めして、
        | 冷凍しています。

    li
      img(src="./images/ramen_2.png", alt="")
      p
        | 冷凍の状態で送られてきたスープを
        | 湯煎して、麺を茹でるだけ！
        | 分かり易い説明書がついて簡単調理。
    li
      img(src="./images/ramen_2.png", alt="")
      p
        | トッピングを載せて、自宅にいながら
        | 女子博会場の味を自宅で楽しめます！
        
section
  h2
    | 1分で終わる会員登録
  
  p
    | 宅麺.comは、全国津々浦々の行列店のラーメン・つけ麺の中から厳選した商品をお取り寄せできる通販サイトです。
  p
    | ラーメン女子博で出されているスープと麺・具材と同様のものを冷凍し、ご自宅で調理頂くことで、
    | これまで会場でしか味わえなかった味をご自宅や 職場でもお楽しみ頂けます。自宅にいながら女子博会場の味をそのまま楽しめます！
    
    
  ul
    li
      .icon.icon-interface
      p
        | メールアドレスと
        | ご希望のパスワード
        | を入力
        
    li
      .icon.icon-black
      p
      | 「正式登録のご案内」
      | メールを受信し
      | 「確認する」をクリック！

    li
      .icon.icon-circle  
      p
      | 登録完了！
      | 「登録完了メール」に
      | 300円分クーポンが
      | 「記載されています。


      
  a(href="#").btn.register-page-link
    今すぐ会員登録(無料)
    
include ./parts/_footer.jade
